<div class="scroller-component">
  <div class="d-flex justify-content-between">
    <h3>{{scrollerTitle}}</h3>
    <a class="details-link cursor-pointer" routerLink="products">Ver Tudo</a>
  </div>

  <div class="scrolling-wrapper py-2">
    <div *ngFor="let product of products" class="col-12 col-md-6 col-xl-4">
      <div class="card fade-in cursor-pointer" [routerLink]="['/product', product.key]">
        <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <p>{{product.name}}</p>
            <p>{{product.price | currency:"EUR"}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
