<div class="home-banner d-flex align-items-end">
  <div class="banner-info">
    <p class="banner-description">
      Street clothing for everyone
    </p>
    <p class="banner-title">
      Be Original In Everything That You Wear
    </p>
    <div class="banner-actions">
      <button class="button main-button mr-4" routerLink="products">
        SHOP
      </button>
      <button class="button secondary-button">
        CONTACT
      </button>
    </div>
  </div>

</div>

<div class="col-12 py-4">
  <app-product-scroller [scrollerTitle]="'Destaque'" [products]="products"></app-product-scroller>
</div>
