
<div class="product-banner"></div>

<div class="products-wrapper">
  <div class="row">
    <div class="col-sm-12 col-xl-2">
      <div class="filters-wrapper">
        <label for="filters" class="filters-title">FILTERS:</label>
        <ul class="filters-list">
          <li class="filter-item" [ngClass]="{'active': !searchModel?.type}">
            <a (click)="searchByFilter()" class="cursor-pointer">All</a>
          </li>
          <li class="filter-item" [ngClass]="{'active': searchModel?.type == ProductType.Hat}">
            <a (click)="searchByFilter(ProductType.Hat)" class="cursor-pointer">Hats</a>
          </li>
          <li class="filter-item" [ngClass]="{'active': searchModel?.type == ProductType.Hoodie}">
            <a (click)="searchByFilter(ProductType.Hoodie)" class="cursor-pointer">Hoodies</a>
          </li>
          <li class="filter-item" [ngClass]="{'active': searchModel?.type == ProductType.Shirt}">
            <a (click)="searchByFilter(ProductType.Shirt)" class="cursor-pointer">Shirts</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-xl-10">
      <div class="row">
        <div *ngFor="let product of products" class="col-12 col-md-6 col-xl-4">
          <div class="card my-2 fade-in">
            <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p>{{product.name}}</p>
                <p>{{product.price | currency:"EUR"}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="products && products.length < totalProducts" class="text-center">
        <button class="button main-button mt-5" (click)="loadMore()">Load More...</button>
      </div>
    </div>
  </div>
</div>
